.App {
  text-align: center;
}

body {
  background-image: url("./Assets/Images/cool-background.png");
  background-repeat:repeat-y;
  background-size: 100%; 
  font-size: 16px;
}
.img {
  display: flex;
  width: 300px;
}

.card {
  margin: 10px;
}

.funFont {
  font-family: 'Monoton';
  font-size: "13px";
  color: rgb(100, 117, 139) !important;
}

.card-header {
  font-family: 'Monoton';
  font-size: "13px";
  color: rgb(100, 117, 139) !important;
  background-color: #FFFFFF;
}

.CardPad {
  display: inline-flex;
}

.col {
  background-color: lightgray;
}
.navbar-brand {
  width: 200px;
  text-align: center;
  font-family: 'Monoton';
  /* font-weight: bold!important ; */
  /* background-color: rgb(100, 117, 139); */
  color: rgb(100, 117, 139) !important;
  font-size: 27px;
}
.navbar {
  background-color: lavender;
}
.btn {
  background-color: rgb(100, 117, 139);
  border-color: black;
}

p {color: rgb(100, 117, 139);}

a {align-self: center;}

#page-container {
  position: relative;
  min-height: 100vh;
}

.portfolioPad {
  margin:auto
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

#footer {
  margin-bottom: 50px;
  width: 100%;        
}

.pic1{
  width: 250px;
  padding-left: 25px;
}

#pic2{
  width: 200px; 
  margin-left: 5px;
}

#pic3{
  width: 200px; 
  margin-left: 5px;
}

#ProfilePic{
  width:250px;
  margin: 15px;
}